<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/admin.css" />

</head>

<body>
    <%- include('loading') %> 
    <header>

        <!-- Sidebar -->
        <div id="sidebarMenu" class="d-flex flex-column text-white">
            <div class=" d-flex align-items-center justify-content-around flex-column">
                <a href="/" class="logo">
                    <img class="logo" src="../public/images/coogMusic.png" alt="Coog Music logo">
                </a>
                <h2>Admin</h2>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="/admin">Users</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="/songs">Songs</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="/admin-playlist">Playlists</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="/queries">Queries</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="/Logout">Log out</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <div class="create-user-menu">
            <button type="button" data-bs-toggle="modal" data-bs-target="#createUserModal"
                class="btn btn-outline-primary create-user-button">
                <img class="create-user-img" src="../public/images/create-user.png">
                <span class="create-user-title">Create User</span>
            </button>
        </div>

        <!-- Create user modal -->
        <div class="modal coogModals" id="createUserModal" tabindex="-1" aria-labelledby="createUserLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header coogModalHeader">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                        <div class="modal-body coogModalBody">
                            <div class="modalContainer">
                                <div class="coogModalTitle"><h4 class="modal-title" id="createUserLabel">Create new user</h4></div>
                                <form id="createUserForm" action="/create-user" method="POST">
                                    <div class="form-group">
                                        <label class="bold" id="handle" for="handle">Handle</label>
                                        <input type="text" id="handle" placeholder="Handle"
                                        name="handle" autofocus="autofocus" onfocus="" class="form-control" required>
                                    </div>

                                <div class="form-group">
                                    <label class="bold" id="username" for="username">Username</label>
                                    <input type="username" id="username" placeholder="Your Username" name="username"
                                        class="form-control" required>
                                </div>

                                <div class="form-group">

                                    <label for="user_type">Choose User Type</label>

                                    <div className="select">
                                        <select id="user_type">
                                            <option value="" disabled selected>Select Type</option>
                                            <option value="2">Admin</option>
                                            <option value="1">Musician</option>
                                            <option value="0">Listener</option>
                                        </select>
                                        <span className="focus"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="bold" id="password" for="password">Password</label>
                                    <input type="password" id="password" placeholder="Password" name="password"
                                        class="form-control" required>
                                </div>
                                <div class="modalButtons">
                                    <button type="submit" class="btn btn-primary modalButton createUserButton">Create</button>
                                    <button type="button" class="btn btn-secondary modalButton cancelButton"
                                    data-bs-dismiss="modal">Cancel</button>
                                </div>  

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Users table-->
        <table class="table table-dark table-hover table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Role</th>
                    <th scope="col">Username</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Action</th>
                    

                </tr>
            </thead>
            <tbody>
                <% if(users_report.length != 0){ users_report.forEach(function(user){ let
                        form_id = "delete-user-" + user.user_id; %>
                    <tr>
                        <td>
                            <%=user.user_id%>
                        </td>
                        <td>
                            <%=user.user_type%>
                        </td>
                        <td>
                            <%=user.username%>
                        </td>
                        <td>
                            <%=user.handle%>
                        </td>
                        <td>
                            <%=user.date_created%>
                        </td>
                        <td>
                            <div class="buttons-row">
                                <button
                                    type="submit"
                                    class="btn btn-outline-primary open-edit-name-modal"
                                    data-toggle="modal"
                                    data-target="#edit-name-modal"
                                    data-id="<%=user.user_id%>"
                                >
                                Edit
                                    <i class="fa fa-pen"></i>
                                </button>
                                <form
                                id="<%=form_id%>"
                                action="/delete-user"
                                method="post"
                            >
                                <input
                                    type="hidden"
                                    name="user_id"
                                    value="<%=user.user_id%>"
                                />
                                <button
                                    type="submit"
                                    class="btn btn-outline-danger"
                                >
                                Delete
                                </button>
                            </form>
                            </div>
                        </td>
                    </tr>
                    <% });} %>
            </tbody>
        </table>

        <!-- Edit User Modal -->
        <div
            class="modal fade"
            id="edit-name-modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="edit-name-modal-label"
            aria-hidden="true"
            data-backdrop="false"
        >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header coogModalHeader">
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                    ></button>
                </div>

                <div class="modal-body coogModalBody">
                    <div class="modalContainer">
                        <div class="coogModalTitle">
                            <h3 class="modal-title" id="editSongLabel">
                                Edit User
                            </h3>
                        </div>
                        <form id="edit-user" action="/edit-user" method="post">

                            <div class="form-group">
                                <input type="hidden" id="user-id" name="user_id" value = "">
                            </div>

                            <div class="form-group">
                                <label class="bold" id="role" for="role">New Role</label>
                                <input type="text" class="form-control" name="role" placeholder="New Role" value = "" required>
                            </div>

                            <div class="form-group">
                                <label class="bold" id="handle" for="handle">New Handle</label>
                                <input type="text" class="form-control" name="handle" placeholder="New Handle" value = "" required>
                            </div>
        
                            <div class="modalButtons">
                                <button type="submit" class="btn btn-primary modalButton createUserButton">
                                    Save
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-secondary modalButton cancelButton"
                                    data-bs-dismiss="modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit User Modal -->

    </main>

    <script src="../public/js/modals.js"></script>

    <script>
        $(window).on("load", function () {
            $("#loading").hide();
        });

        $(function(){
          $(".open-edit-name-modal").click(function(){
             $('#user-id').val($(this).data('id'));
             $("#edit-name-modal").modal("show");
          });
        });
    </script>

</body>

</html>
